Source: python-awsiotpythonsdk
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9), dh-python, python-all, python-setuptools, python3-all, python3-setuptools
Standards-Version: 4.1.4.1
Maintainer: Joshua Clayton <joshua.clayton@vivintsolar.com>

Package: python-awsiotpythonsdk
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: 
Description: SDK for connecting to AWS IoT using Python
 The AWS IoT Device SDK for Python allows developers to write Python script
 to use their devices to access the AWS IoT platform through MQTT or MQTT
 over the WebSocket protocol. By connecting their devices to AWS IoT, users
 can securely work with the message broker, rules, and the device shadow
 (sometimes referred to as a thing shadow) provided by AWS IoT and with
 other AWS services like AWS Lambda, Amazon Kinesis, Amazon S3, and more.

Package: python3-awsiotpythonsdk
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: SDK for connecting to AWS IoT using Python
 The AWS IoT Device SDK for Python allows developers to write Python script
 to use their devices to access the AWS IoT platform through MQTT or MQTT
 over the WebSocket protocol. By connecting their devices to AWS IoT, users
 can securely work with the message broker, rules, and the device shadow
 (sometimes referred to as a thing shadow) provided by AWS IoT and with
 other AWS services like AWS Lambda, Amazon Kinesis, Amazon S3, and more.
X-Python3-Version: >= 3.4
